
p { font-family: 'visionregular', Arial, sans-serif; }

#title{
    font-family: 'visionregular';
    font-size: 8vw;
    padding-top: 25%;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    text-align: right;
    color: azure;
}

#button_aboutme{
    background-color: coral;
}

#button_portfolio{
    background-color:forestgreen;
}

#button_contact{
    background-color:crimson;
}

body {  
    background-image: url("background_pattern1.svg");}

canvas { width: 100%; height: 100% }

#experience-row{
    margin: 10% 10% 10% 10%;
}

.experience{
    width: 100%;
}

.clickable_navigation{
    font-family: 'visionregular';
    font-size: 2vw;
    margin:auto auto auto auto;
    color: azure;
}

@media (max-width: 736px) {
    #title {
        font-size: 10vmax;
      }
    
    .clickable_navigation { 
        font-size: 5vmax; } 
    
    }  
  }
}